.header{
    height: 180px;
    width: 100%;
    background-color: rgb(176, 229, 182);
    padding-top: 50px; 
    
  }
  .card-container{
    height: 100px;
    width: 100px;
    box-shadow: 0px 3px 50px #d68db5;
 
  }
  .card-wrapper{
    width: 200px; 
    height: 120px; 
    margin: 7px;
    box-shadow: 0px 3px 50px #A5A5A5;
    display: flex;
    flex-direction: column; 
  
  
  }
  
  .card-top{
    width: 100%;
    height: 2%;
   
  }
  
  .task-holder{
    width: 100%;
    height: 98%;
    padding: 10px 10px;
    display : flex;
    flex-direction: column;
    position: relative;
  }
  
  .card-header{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 80px;
    height: 30px;
    padding: 1px 1px !important;
    text-align: center; 

  }

  .contenedor-tarea{
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    overflow: scroll; 
    padding: 40px 40px 100px;
 

  } 

  .btn btn-info{
    background-color: rgb(187, 65, 73);
  }
  